<img src="https://kpmg.com/content/experience-fragments/kpmgpublic/in/en/site/header/master/_jcr_content/root/header/logo.coreimg.svg/1732260814565/logo.svg"/>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a> | <a routerLink="/user" routerLinkActive="active">User</a>
  | <a routerLink="/post" routerLinkActive="active">Post</a>
  | <a routerLink="/login" routerLinkActive="active">Login</a>
  | <a routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<router-outlet />
